<!-- Filter section -->
<div class="row">
  <form #filterForm="ngForm" (ngSubmit)="filterRepos()">
    <div class="form-group col-md-3">
      <label for="org">Organization</label>
      <input
        type="text"
        id="org"
        class="form-control"
        [value]="searchOrg"
        name="searchOrg"
        required
        disabled
      />
      <div *ngIf="repos.length" class="text-right total-repos">
        Total: {{ repos.length }}
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="search">{{
        filterProp === 'watchers'
          ? searchTextLabelForNumbers
          : filterProp === 'forks'
          ? searchTextLabelForNumbers
          : filterProp === 'size'
          ? searchTextLabelForNumbers
          : searchTextLabelForText
      }}</label>
      <input
        type="text"
        id="search"
        class="form-control"
        name="search"
        [(ngModel)]="searchText"
      />
    </div>
    <div class="form-group col-md-2">
      <label for="filter">Filter & Sort by</label>
      <select
        id="filter"
        [(ngModel)]="filterProp"
        class="form-control"
        name="filterProp"
        ><option *ngFor="let prop of filterProperties" [value]="prop.value">
          {{ prop.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="sort">Order</label>
      <select
        id="sort"
        [(ngModel)]="sortProp"
        class="form-control"
        name="sortProp"
        style="width: 60px;"
      >
        <option>A</option>
        <option>D</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <br />
      <button
        type="submit"
        class="btn btn-primary filter-button"
        [disabled]="!filterForm.valid"
      >
        Filter Organization
      </button>
    </div>
  </form>
</div>
<br />

<!-- Repository Section -->
<div class="row" *ngIf="!errors">
  <div class="col-md-12">
    <div
      class="panel panel-default"
      *ngFor="
        let repo of repos
          | filter: searchText:filterProp
          | sort: filterProp:sortProp
      "
    >
      <div class="panel-heading">
        <div class="row">
          <div class="panel-title col-sm-5">
            <strong>{{ repo.name }}</strong>
          </div>
          <div class="panel-title col-sm-2">
            {{ !repo.private ? 'Public' : '' }}
          </div>
          <div class="panel-title col-sm-5">
            <small>Owner:</small> {{ repo.owner.login }}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <!-- 1st row -->
        <div class="row">
          <div class="col-md-12">
            {{ repo.description }}
          </div>
        </div>
        <div class="row">
          <div *ngIf="repo.description">
            <br />
          </div>
        </div>
        <!-- 2nd & 3rd row -->
        <div class="row">
          <div class="col-sm-2">
            <div *ngIf="repo.html_url">
              <a href="{{ repo.html_url }}" target="_blank" class="col-md-10">
                <small>&rarr;</small> GitHub
              </a>
            </div>
            <div *ngIf="repo.homepage">
              <a href="{{ repo.homepage }}" target="_blank" class="col-md-10">
                <small>&rarr;</small> WWW
              </a>
            </div>
            <div *ngIf="!repo.html_url && !repo.homepage">
              <div class="col-md-2"></div>
            </div>
          </div>
          <div class="col-sm-2">
            <br />
            {{ repo.has_wiki ? 'Wiki' : '' }}
          </div>
          <div class="col-sm-2">
            Language
            <br />{{ repo.language }}
          </div>
          <div class="col-sm-2">
            Size
            <br />{{ repo.size }}
          </div>
          <div class="col-sm-2">
            Watchers
            <br />{{ repo.watchers }}
          </div>
          <div class="col-sm-2">
            Forks
            <br />{{ repo.forks }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Error Section -->
  <div class="row" *ngIf="errors">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          Request was canceled by GitHub or because of Network Problems!
        </div>
        <div class="panel-body">
          Did you use this function to often?<br />Github only allows a
          <strong>limited number of api calls per hour</strong> (e.g. 60 calls
          per hour).<br /><br />Perhaps there are Network problems.<br /><br />
          Please try again later.
        </div>
      </div>
    </div>
  </div>
  <!-- No data Section -->
  <div class="row" *ngIf="!errors && repos.length === 0 && searchStarted">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">No Repositories found!</div>
        <div class="panel-body">
          There are no repositories for the selected
          <strong>Organization {{ searchOrg }}</strong> available!
        </div>
      </div>
    </div>
  </div>
</div>
