<div class="row">
  <form #filterForm="ngForm" (ngSubmit)="filterRepos()">
    <div class="form-group col-md-2">
      <label for="org">Organization</label>
      <input
        type="text"
        id="org"
        class="form-control"
        [(ngModel)]="searchOrg"
        name="searchOrg"
        required
        #org="ngModel"
      />
      <div class="alert alert-danger" *ngIf="!org.valid">
        Please enter Organization and press Filter button
      </div>
    </div>
    <div class="form-group col-md-5">
      <label for="search">{{
        filterProp === 'watchers'
          ? searchTextLabelForNumbers
          : filterProp === 'forks'
          ? searchTextLabelForNumbers
          : filterProp === 'size'
          ? searchTextLabelForNumbers
          : searchTextLabelForText
      }}</label>
      <input
        type="text"
        id="search"
        class="form-control"
        name="search"
        [(ngModel)]="searchText"
      />
    </div>
    <div class="form-group col-md-2">
      <label for="filter">Filter & Sort by</label>
      <select
        id="filter"
        [(ngModel)]="filterProp"
        class="form-control"
        name="filterProp"
        ><option *ngFor="let prop of filterProperties" [value]="prop.value">
          {{ prop.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <label for="sort">Order</label>
      <select
        id="sort"
        [(ngModel)]="sortProp"
        class="form-control"
        name="sortProp"
        style="width: 60px;"
      >
        <option>A</option>
        <option>D</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <br />
      <button
        type="submit"
        class="btn btn-primary filter-button"
        [disabled]="!filterForm.valid"
      >
        Filter Organization
      </button>
    </div>
  </form>
</div>
<br />
<div class="row" *ngIf="!errors">
  <div class="col-md-12">
    <div
      class="panel panel-default"
      *ngFor="
        let repo of repos
          | filter: searchText:filterProp
          | sort: filterProp:sortProp
      "
    >
      <div class="panel-heading">
        <div class="row">
          <h3 class="panel-title col-md-8">
            <strong>{{ repo.name }}</strong>
          </h3>
          <h3 class="panel-title col-md-1">
            {{ !repo.private ? 'Public' : '' }}
          </h3>
          <h3 class="panel-title col-md-3">Owner: {{ repo.owner.login }}</h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <em class="col-md-1">
              Desc:
            </em>
            <div class="col-md-10">
              {{ repo.description }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <em class="col-md-2">
              URL:
            </em>
            <div *ngIf="repo.html_url">
              <a href="{{ repo.html_url }}" target="_blank" class="col-md-10">
                {{ repo.html_url }}
              </a>
            </div>
            <div *ngIf="!repo.html_url">
              <div class="col-md-10">
                {{ repo.html_url }}
              </div>
            </div>
            <em class="col-md-2">
              WWW:
            </em>
            <div *ngIf="repo.homepage">
              <a href="{{ repo.homepage }}" target="_blank" class="col-md-10">
                {{ repo.homepage }}
              </a>
            </div>
            <div class="col-md-10" *ngIf="!repo.homepage">
              {{ repo.homepage }}
            </div>
          </div>

          <div class="col-md-6">
            <em class="col-md-2 col-xs-3">
              Lang:
            </em>
            <div class="col-md-8 col-xs-6">
              {{ repo.language }}
            </div>
            <div class="col-md-2 col-xs-3">
              {{ repo.has_wiki ? 'Wiki' : '.' }}
            </div>
            <em class="col-md-2 col-xs-3">
              Size:
            </em>
            <div class="col-md-2 col-xs-9">
              {{ repo.size }}
            </div>
            <em class="col-md-2 col-xs-3">
              Watchers:
            </em>
            <div class="col-md-2 col-xs-9">
              {{ repo.watchers }}
            </div>
            <em class="col-md-2 col-xs-3">
              Forks:
            </em>
            <div class="col-md-2 col-xs-9">
              {{ repo.forks }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="errors">
  <div class="col-xs-12">
    <div class="panel panel-danger">
      <div class="panel-heading">Please change the entered Organization!</div>
      <div class="panel-body">
        There are no repositories for the selected
        <strong>Organization {{ searchOrg }}</strong> available!
        <br />
        <br />
        <em>
          Or you pressed the Filter Button to often. <br />Github only allows a
          limited number of api calls per hour (e.g. 60 per hour).
        </em>
      </div>
    </div>
  </div>
</div>
