<!-- Filter section -->
<div class="row">
  <div class="col-sm-12">
    Please search Organization and select it by clicking on Name
  </div>
</div>
<br />
<div class="row">
  <form #filterForm="ngForm">
    <div class="form-group col-md-3">
      <label for="org">Organization</label>
      <input
        type="text"
        id="org"
        class="form-control"
        [(ngModel)]="searchOrg"
        name="searchOrg"
        title="after entering a search string the first 100 organizations matching that string are displayed"
        required
        #org="ngModel"
        (ngModelChange)="filterOrganization($event)"
      />
    </div>
  </form>
</div>
<br />
<div class="row" [hidden]="!searchFinished">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading" *ngIf="!allOrgs">
        <strong>Searching Organizations</strong> - Only the
        <strong>first 100 of {{ totalCountSelectedOrg }} Login names</strong>
        starting with the Search text are displayed
      </div>
      <div class="panel-heading" *ngIf="allOrgs">
        <strong>Searching Organizations</strong> - all Organisations matching
        that string are displayed
      </div>
      <div
        class="panel-body small-padding"
        *ngFor="let org of resultsOrg | async | sort: 'login':'asc'"
        Style="cursor: pointer;"
      >
        <div class="col-md-1">
          <img
            src="{{ org.avatar }}"
            alt="Avatar of organization"
            class="org-avatar"
            style="cursor: default;"
          />
        </div>
        <div
          class="col-md-4"
          (click)="onClickOrganization($event)"
          title="on clicking at this column the Organization is selected for filtering the repositories"
        >
          {{ org.login }}
        </div>
        <div class="col-md-4">
          <a
            href="{{ org.url }}"
            target="_blank"
            title="on clicking at this column the GitHub Site is displayed"
            >&rarr; GitHub WebSite</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
